<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %> 
    <link rel="stylesheet" href="/css/product-style.css" type="text/css">
    <title>BiciMundo-Productos</title>
</head>
<body>
    <%- include('../partials/header.ejs') %> 
    <main>
        <section class="products-filter">
            <label class="products-filter-title" for="filter-menu">
                <h2>Filtro de Producto</h2>
                <i class="fas fa-angle-down"></i>
            </label>
            <input type="checkbox" id="filter-menu">
            <form class="products-filter-hidden" action="/productos" method="GET">
                <div class="form-control">
                    <label class="input-label">Producto:</label>
                    <label for="bicicletas"><input type="checkbox" name="product" value="bicicletas" id="bicicletas">Bicicletas</label>
                    <label for="accesorios"><input type="checkbox" name="product" value="accesorios" id="accesorios">Accesorios</label>
                </div>
                <div class="form-control">
                    <label class="input-label">Tipo de Producto:</label>
                    <label for="MTB"><input type="checkbox" name="type" value="MTB" id="MTB">Bicicletas de MTB</label>
                    <label for="RUTA"><input type="checkbox" name="type" value="RUTA" id="RUTA">Bicicletas de Ruta</label>
                    <label for="casco"><input type="checkbox" name="type" value="casco" id="casco">Casco</label>
                    <label for="herramientas"><input type="checkbox" name="type" value="herramientas" id="herramientas">Herramientas</label>
                    <label for="varios"><input type="checkbox" name="type" value="varios" id="varios">Varios</label>
                </div>    
                <div class="form-control">
                    <label class="input-label">Rango de precios:</label>
                    <!-- <label for="min-price">Precio mínimo:</label> -->
                    <input type="number" name="minPrice" id="min-price" placeholder="Precio mínimo">
                    <!-- <label for="max-price">Precio máximo:</label> -->
                    <input type="number" name="maxPrice" id="max-price" placeholder="Precio máximo">
                </div>   
                <div class="form-control">
                    <label class="input-label">Marca:</label>
                    <label for="Olmo"><input type="checkbox" name="brand" value="Olmo" id="Olmo">Olmo</label>
                    <label for="Venzo"><input type="checkbox" name="brand" value="Venzo" id="Venzo">Venzo</label>
                    <label for="Spy"><input type="checkbox" name="brand" value="Spy" id="Spy">Spy</label>
                    <label for="Teknial"><input type="checkbox" name="brand" value="Teknial" id="Teknial">Teknial</label>
                    <label for="Merida"><input type="checkbox" name="brand" value="Merida" id="Merida">Merida</label>
                    <label for="Topmega"><input type="checkbox" name="brand" value="Topmega" id="Topmega">Topmega</label>
                    <label for="Cannondale"><input type="checkbox" name="brand" value="Cannondale" id="Cannondale">Cannondale</label>
                    <label for="Specialized"><input type="checkbox" name="brand" value="Specialized" id="Specialized">Specialized</label>
                    <label for="KTM"><input type="checkbox" name="brand" value="KTM" id="KTM">KTM</label>
                    <label for="Raleigh"><input type="checkbox" name="brand" value="Raleigh" id="Raleigh">Raleigh</label>
                    <label for="Polygon"><input type="checkbox" name="brand" value="Polygon" id="Polygon">Polygon</label>
                    <label for="BBB"><input type="checkbox" name="brand" value="BBB" id="BBB">BBB</label>
                    <label for="Lazer"><input type="checkbox" name="brand" value="Lazer" id="Lazer">Lazer</label>
                    <label for="Bell"><input type="checkbox" name="brand" value="Bell" id="Bell">Bell</label>
                    <label for="Super B"><input type="checkbox" name="brand" value="Super B" id="Super B">Super B</label>
                    <label for="Van Halen"><input type="checkbox" name="brand" value="Van Halen" id="Van Halen">Van Halen</label>
                    <label for="Shimano"><input type="checkbox" name="brand" value="Shimano" id="Shimano">Shimano</label>
                    <label for="Speedtrap"><input type="checkbox" name="brand" value="Speedtrap" id="Speedtrap">Speedtrap</label>
                    <label for="GT Race"><input type="checkbox" name="brand" value="GT Race" id="GT Race">GT Race</label>
                </div>     
                <div class="form-control">
                    <label class="input-label">Material:</label>
                    <label for="Aluminio"><input type="checkbox" name="framed" value="Aluminio" id="Aluminio">Aluminio</label>
                    <label for="Carbono"><input type="checkbox" name="framed" value="Carbono" id="Carbono">Carbono</label>
                </div> 
                <div class="form-control">
                    <label class="input-label">Velocidades:</label>
                    <label for="16"><input type="checkbox" name="shifter" value="16" id="16">16 velocidades</label>
                    <label for="18"><input type="checkbox" name="shifter" value="18" id="18">18 velocidades</label>
                    <label for="20"><input type="checkbox" name="shifter" value="20" id="20">20 velocidades</label>
                    <label for="21"><input type="checkbox" name="shifter" value="21" id="21">21 velocidades</label>
                    <label for="22"><input type="checkbox" name="shifter" value="22" id="22">22 velocidades</label>
                    <label for="24"><input type="checkbox" name="shifter" value="24" id="24">24 velocidades</label>
                    <label for="27"><input type="checkbox" name="shifter" value="27" id="27">27 velocidades</label>
                </div> 
                <div class="form-control">
                    <label class="input-label">Frenos:</label>
                    <label for="mechanical"><input type="checkbox" name="brakes" value="mechanical" id="mechanical">Disco mecánico</label>
                    <label for="hydraulic"><input type="checkbox" name="brakes" value="hydraulic" id="hydraulic">Disco hidráulico</label>
                </div> 
                <button type="reset" class="filter-button">Limpiar</button>
                <button type="submit" class="filter-button">Filtrar</button>
            </form>

        </section>
        <section class="products-list">
            <h2>Productos</h2>
            <div class="products-list-container">
                <% products.forEach(product => { %>
                    <article>
                        <a class="detail" href="/productos/detalle/<%= product.id %> ">
                            <figure>
                                <img src="/images/<%= product.image %> " alt="imagen de producto">
                            </figure>
                            <h3 class="description"><%= product.description %> </h3>
                            <p class="price">$ <%= product.price %> </p>
                            <p class="cart">
                                Agregar al carrito
                                <i class="fa-solid fa-cart-shopping"></i>
                            </p>
                        </a>
                    </article>
                <% }) %>
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %> 
</body>
</html>